body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    background-color: #2c2c2c;
    color: #000;
}



.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.header-content h1 {
    font-size: 3em;
    color: #d4af37;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.header-content p {
    font-size: 1.5em;
    color: #d4af37;
    margin: 10px 0 0 0;
    font-family: 'Oswald', sans-serif;
}

#visualization-league-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 20px;
    background-color: #004d40;
}

#visualization-section, #league-table-section {
    flex: 1;
    margin: 0 10px;
    
}

.visualization-section h1 {
    color: #d4af37;
    margin-bottom: 10px; 
}

#visualization-section {
    position: relative; /* Needed for absolute positioning within this container */
}

#refreshButton {
    position: absolute; /* Positions relative to #visualization-section */
    top: 80px; /* Adjust vertical placement */
    right: 10px; /* Adjust horizontal placement */
    padding: 10px 20px;
    background-color: #d4af37;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#d3-visualization {
    width: 100%;
    height: 600px;
    border: 1px solid #d4af37;
    margin-bottom: 20px;
}

#league-table-section {
    background-color: #004d40;
    padding: 60px;
    border-radius: 10px;
    color: #d4af37;
}

#league-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#league-table th, #league-table td {
    border: 1px solid #d4af37;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#league-table th {
    background-color: #d4af37;
    color: #000;
}

#game-section {
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-container {
    width: 1024px;
    height: 600px;
    border: 1px solid #d4af37;
}

#search-box {
    margin-bottom: 20px;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    color: #004d40;
}

#description-section {
    background-color: #dcdcdc;
    padding: 60px 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}
.highlight {
    background-color: #d4af37 !important;
    color: #000 !important;
}
h2{
    color:  #d4af37;
}
